<% content_for :head do %>
  <%= stylesheet_link_tag 'show_item' %>
<% end %>

<div class="item-main-container">
	<div class="image-container">
		<%= image_tag @item.image_src, class:"item-image" %>
	</div>
	<div class="description-container">
		<h3 class="item-name"><%= @item.item_name %>
		<p class="item-price">$<%= @item.price %></p>
		<div class="cart-container" id="add-button" data-id="<%= params[:item_id] %>">
			<div>
				<h2>Add to cart</h2>
			</div>
		</div>
	</div>
</div>

<%= javascript_pack_tag 'show', 'data-turbolinks-track': 'reload' %>
